<div class="mt-12 max-w-xl m-auto bg-white shadow overflow-hidden sm:rounded-lg">
  <h3 class="px-4 py-4 sm:px-6 text-2xl text-center leading-6 font-medium text-gray-900">
    Signup
  </h3>

  <form class="border-t border-gray-200" {{on "submit" this.attemptSignup}}>
    <div class="px-4 py-5 bg-white sm:p-6">
      <div>
        <label
          for="email_address"
          class="block text-sm font-medium text-gray-700"
        >
          Email address
        </label>
        <Input
          type="text"
          name="email_address"
          id="email_address"
          autocomplete="email"
          @value={{this.email}}
          class="mt-1
            w-full
            px-3 py-2
            border
            focus:border-indigo-500
            block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />
      </div>
      <div class="mt-4">
        <label
          for="password"
          class="block text-sm font-medium text-gray-700"
        >
          Password
        </label>
        <Input
          type="password"
          name="password"
          id="password"
          autocomplete="password"
          @value={{this.password}}
          class="mt-1
            w-full
            px-3 py-2
            border
            focus:ring-indigo-500
            focus:border-indigo-500
            block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />
      </div>
    </div>
    <div class="px-4 py-3 bg-gray-100 border text-right sm:px-6">
      <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Save
      </button>
    </div>
  </form>
</div>
